/* In styles.css */

body {
    margin: 30px;
    padding: 20px;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #e4c3316c;
}

h1 {
    color: #333;
    border: 3px #8c4b4b solid;
    border-radius: 212px 123px;
    display: inline-block;
    margin: 4% auto;
    width: 40%;

}

#scoreboard {
    margin-bottom: 20px;
    font-size: 18px;
}

#scoreboard p {
    margin: 5px;
}

#choices {
    margin-bottom: 20px;
    color: #ef5508;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #333;
    color: #fff;
}

#result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}

/* Animation for result message */
@keyframes resultAnimation {
    0% { transform: scale(0.9); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

#result {
    animation: resultAnimation 0.3s ease-in-out;
    color: #ef5508;
}
